@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    border-radius: .3em;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--light-grayish-cyan);
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--white);
    padding: 2em;
    gap: 1em;
    border-radius: 1em;
    height: 100%;
    width: 100%
}

.percentage-container {
    background-color: var(--very-dark-cyan);
    padding: 1em;
    border-radius: 1em;
    flex: 1;
}

.input-container {
    flex: 2;
}

.percentage-container,
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tip-selector {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.top-text {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
    padding: 1em 5em;
    color: var(--very-dark-cyan);
    overflow-wrap: break-word;
}

.text-description {
    margin-bottom: 1em;
}

img,
svg {
    object-fit: contain;
    display: block;
    max-width: 100%;
}

input {
    border-color: transparent;
    display: inline-block;
    background-repeat: no-repeat;
    text-align: right;
    color: var(--very-dark-cyan);
    width: 100%;
    height: 2em;
}

input:focus {
    border-color: var(--strong-cyan);
    border-style: solid;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.amount-input {
    background: url(./images/icon-dollar.svg) no-repeat left;
    background-color: var(--very-light-cyan);
}

.people-input {
    background: url(./images/icon-person.svg) no-repeat left;
    background-color: var(--very-light-cyan);
}

.amount-input,
.people-input {
    background-origin: content-box;
    padding: 0em .5em;
}

.custom {
    color: var(--very-dark-cyan);
    padding: 0 1em;
    background-color: var(--very-light-cyan);
}

.main-text {
    color: var(--white);
}

.slash {
    color: var(--grayish-cyan);
}

.tip-selector > button {
    background-color: var(--very-dark-cyan);
    color: white;
}

.tip-selector button:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

button {
    border: none;
}

button,
input {
    cursor: pointer;
    height: 2em;
    font-size: 1.3em;
}

.reset {
    text-transform: uppercase;
    background-color: var(--strong-cyan);
}

.text-description {
    color: var(--grayish-cyan);
    display: flex;
    gap: 1em;
}

.warning {
    color: red;
    display: none;
}

.tip-amount,
.person-total {
    display: flex;
    justify-content: space-between;
}

#total,
#tip {
    color: var(--strong-cyan);
    font-size: 2em;
}

@media only screen and (min-width: 600px) {
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #main-container {
        display: flex;
        flex-direction: row;
        max-width: 60em;
        max-height: 30em;
        margin-bottom: 5em;
    }

    .top-text {
        width: 12em;
        padding: 3em;
    }

    .main-text {
        font-size: 1.5em;
    }

    #tip,
    #total {
        font-size: 3em;
    }

    .input-container,
    .percentage-container {
        flex: 1;
    }

    .input-container {
        justify-content: space-around;
    }

    .tip-selector {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .percentage-container {
        display: flex;
        justify-content: space-evenly;
        padding: 2em;
        gap: 1em;
    }

    .reset {
        padding: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4em;
    }


}